@import "tailwindcss";

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #270858;
  color: white;
  align-items: center;
  padding: 10px;
}
.brand {
  font-weight: bold;
  width: 20%;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.search-bar {
  width: 60%;
}
.search-bar input {
  width: 55%;
  /* text-align: center; */
}
input::placeholder {
  /* text-align: left; */
  padding: 10px;
  font-weight: bold;
}
.cart {
  width: 20%;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.nav-bar-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #4b1b78;
  color: white;
  font-weight: bold;
}
.img-wrapper {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.img-src {
  width: 300px;
}
.card-title {
  font-weight: bolder;
}

.items{
  cursor: pointer;
}